* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #6E757D;  */
  }

.footer__logo {
    width: 186px;
    height: auto;
  }

.footer__column {
  background-color: #6E757D;
  color: aliceblue;
}