* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* :root {
  –-bg-color: #6e757d;
} */

.footer__container {
  background-color: #6e757d;
  padding: 3cap;
}

.footer__container__blok {
  margin: auto;
  max-width: 1170px;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__column {
  flex-direction: column;
  min-width: 300px;
  width: calc(33.3333% + 0px);
}

.footer__logo {
  width: 186px;
  height: auto;
}

.footer__column-title {
  margin: 0 0 10px;
}

.footer__column li {
  display: block;
}

.footer__links a {
  text-decoration: none;
  color: inherit;
}

.footer__links a:hover {
  text-decoration: underline;
  color: rgb(204, 204, 204);
}

.social-icon {
  display: block;
  margin: 0 10px 0;
  /* padding: 21px; */
}

.social-icons_list {
  display: flex;
}

.footer__bottom {
  text-align: center;
  padding: 10px;
  background-color: #54595f;
  color: rgb(0, 0, 0);
}

.footer__bottom a {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}
